*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Trirong', sans-serif;
	list-style: none;
	text-decoration: none;
	scroll-behavior: smooth;
}

:root{
	--bg-color: #020312;
	--text-color: #ffffff;
	--main-color: #1b88bb; /* #55359b */
	--second-color: rgb(255, 255, 255);
	--other-color: #12141c;
	--h1-font: 5rem;
	--h2-font: 3.5rem;
	--p-font: 1.1rem;
}

body{
	background: var(--bg-color);
	color: var(--text-color);
}

header{
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: transparent;
	padding: 22px 16%;
	border-bottom: 1px solid transparent;
	transition: all .40s ease;
	background-color: rgb(0, 0, 0);
}

.navbar{
	display: flex;
}

.navbar a{
	color: var(--second-color);
	font-size: var(--p-font);
	font-weight: 600;
	padding: 10px 25px;
	margin: 0 2px;
	border-radius: 0.5rem;
	transition: all .40s ease;
	color: #1b88bb;
}
.navbar a:hover{
	background: var(--main-color);
	color: var(--text-color);
}

#menu-icon{
	font-size: 36px;
	color: var(--text-color);
	z-index: 10001;
	cursor: pointer;
	display: none;
}

section{
	padding: 160px 16% 90px;
}

.home {
	height: 100vh;
	width: 100%;
	background: linear-gradient(100deg, #000, #000D 30%, #0000),
	  url(../img/NewBackGround.gif);
	position: relative;
	background-size: cover;
	background-position: right;
	display: flex;
	align-items: center;
	justify-content: flex-start;
  }
  
  .home-text {
	display: flex; /* Adiciona um contêiner flexível */
	flex-direction: column; /* Empilha os elementos verticalmente */
	align-items: flex-start; /* Alinha os elementos à esquerda */
  }
  
  .home-text h1 {
	margin: 10px;
	font-size: var(--h1-font);
	font-weight: bold;
	line-height: 0.9;
  }
  
  span {
	color: var(--main-color);
  }
  
  .home-text h4 {
	color: var(--main-color);
	font-size: 21px;
	font-weight: 500;
  }
  
  .home-text h3 {
	font-size: 23px;
	font-weight: 600;
	margin-bottom: 3rem;
	margin-left: 10px;
  }
  
  .btn {
	display: inline-block;
	padding: 14px 40px;
	border-radius: 0.5rem;
	font-size: 16px;
	font-weight: 500;
	background: var(--main-color);
	color: var(--text-color);
	border: 1px solid var(--main-color);
	transition: all .40s ease;
  }
  
  .btn:hover {
	transform: scale(1.01) translateY(-5px);
	background: transparent;
	border: 1px solid var(--main-color);
  }
  
  header.sticky {
	padding: 10px 16%;
	background: var(--bg-color);
	border-bottom: 1px solid #0e1630;
  }
  
  /* Estilos para telas de celular */
  @media screen and (max-width: 767px) {
	.home-text {
	  margin-top: 20px; /* Adiciona uma margem superior para posicionar para baixo */
	}
  
	.home-text h1 {
	  font-size: 35px; /* Ajuste o tamanho de fonte para telas de celular */
	  line-height: 1.2;
	}
  
	.home-text h4 {
	  font-size: 14px; /* Ajuste o tamanho de fonte para telas de celular */
	}
  
	.home-text h3 {
	  font-size: 16px; /* Ajuste o tamanho de fonte para telas de celular */
	  margin-bottom: 2rem;
	}
  
	.btn {
	  font-size: 12px; /* Ajuste o tamanho de fonte para telas de celular */
	}
  }
  
  .about {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	gap: 2rem;
  }
  
  .about-text h4 {
	margin: 10px 0;
	color: var(--main-color);
	font-size: 20px;
	font-weight: 600;
  }
  
  .about-text h2 {
	font-size: var(--h2-font);
  }
  
  .about-text p {
	color: var(--second-color);
	font-size: var(--p-font);
	line-height: 30px;
	margin-bottom: 2rem;
  }
  
  .about-gri {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, auto));
	align-items: center;
	gap: 1rem;
	margin-bottom: 3rem;
  }
  
  .about-in h5 {
	font-size: 22px;
	font-weight: 600;
  }
  
  .about-img img {
	height: auto;
	width: 100%;
	max-width: 460px;
  }
  
  /* Estilos para telas de celular */
  @media screen and (max-width: 767px) {
	.about-img img {
	  max-width: 300px; /* Ajuste o valor para reduzir o tamanho da imagem em telas de celular */
	}
  }
  
  .main-text {
	text-align: center;
  }
  
  .main-text h2 {
	font-size: var(--h2-font);
	margin-bottom: 10px;
  }
  
  .main-text h4 {
	color: var(--main-color);
	font-size: 24px;
	font-weight: 600;
  }
  
  /* Estilos para telas de celular */
  @media screen and (max-width: 767px) {
	.about {
	  grid-template-columns: 1fr; /* Altera para uma única coluna */
	  text-align: center; /* Centraliza o conteúdo */
	}
  
	.about-text h4 {
	  font-size: 17px; /* Ajuste o tamanho de fonte para telas de celular */
	}
  
	.about-text h2 {
	  font-size: 32px; /* Ajuste o tamanho de fonte para telas de celular */
	}
  
	.about-text p {
	  font-size: 15px; /* Ajuste o tamanho de fonte para telas de celular */
	  margin-bottom: 1rem; /* Ajuste o espaçamento para telas de celular */
	}
  
	.about-gri {
	  grid-template-columns: 1fr; /* Altera para uma única coluna */
	}
  
	.about-in h5 {
	  font-size: 20px; /* Ajuste o tamanho de fonte para telas de celular */
	}
  
	.about-img img {
	  max-width: 100%; /* Preenche a largura disponível para telas de celular */
	}
  
	.main-text h2 {
	  font-size: 32px; /* Ajuste o tamanho de fonte para telas de celular */
	  margin-bottom: 8px; /* Ajuste o espaçamento para telas de celular */
	}
  
	.main-text h4 {
	  font-size: 17px; /* Ajuste o tamanho de fonte para telas de celular */
	}
  }

.services-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  align-items: center;
  text-align: center;
  gap: 2rem;
  margin-top: 5rem;
}

.box {
  padding: 25px;
  background: #12141c;
  border-top: 5px solid transparent;
  border-radius: 0.5rem;
  transition: all .40s ease;
  cursor: pointer;
}

.box h3 {
  font-size: 24px;
  font-weight: 600;
  margin: 15px 0;
  transition: all .40s ease;
}

.box p {
  color: var(--second-color);
  font-size: var(--p-font);
  line-height: 30px;
}

.box:hover {
  transform: scale(1.01) translateY(-5px);
  border-top: 5px solid var(--main-color);
}

.box:hover h3 {
  color: var(--main-color); /* Altera a cor do texto ao passar o mouse */
}

/* Estilos para telas de celular */
@media screen and (max-width: 767px) {
  .services-content {
    grid-template-columns: 1fr; /* Altera para uma única coluna */
  }

  .box {
    padding: 25px; /* Ajuste o espaçamento para telas de celular */
  }

  .box h3 {
    font-size: 22px; /* Ajuste o tamanho de fonte para telas de celular */
    margin: 10px 0; /* Ajuste o espaçamento para telas de celular */
  }

  .box p {
    font-size: 15px; /* Ajuste o tamanho de fonte para telas de celular */
  }
}

.portfolio-content{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, auto));
	align-items: center;
	gap: 2rem;
	margin-top: 5rem;
}
.row img{
	height: auto;
	width: 100%;
	border-radius: 0.5rem;
	margin-bottom: 1.5rem;
}
.row{
	padding: 25px;
	background: #12141c;
	border-radius: 0.5rem;
	transition: all .40s ease;
}
.main-row{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 1rem;
}
.row h3{
	font-size: 25px;
	font-weight: 700;
}
.row h6{
	color: var(--main-color);
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 1px;
}
.row-icon i{
	font-size: 21px;
}
.row:hover{
	transform: scale(1.01) translateY(-5px);
	cursor: pointer;
}

.contact {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	gap: 3rem;
  }
  
  .contact-text h4 {
	margin: 15px 0;
	color: var(--main-color);
	font-size: 20px;
	font-weight: 600;
  }
  
  .contact-text h2 {
	font-size: var(--h2-font);
	margin-bottom: -30px;
  }
  
  .contact-text p {
	color: var(--second-color);
	font-size: var(--p-font);
	line-height: 30px;
	margin-bottom: 2rem;
  }
  
  .contact-list {
	margin-bottom: 3rem;
  }
  
  .contact-list li {
	margin-bottom: 10px;
	display: block;
  }
  
  .contact-list li a {
	display: block;
	color: var(--second-color);
	font-size: var(--p-font);
	font-weight: 600;
	transition: all .40s ease;
  }
  
  .contact-list li a:hover {
	transform: scale(1.01) translateY(-5px);
	color: var(--main-color);
  }
  
  /* Estilos para telas de celular */
  @media screen and (max-width: 767px) {
	.contact {
	  grid-template-columns: 1fr; /* Altera para uma única coluna */
	}
  
	.contact-text h4 {
	  font-size: 18px; /* Ajuste o tamanho de fonte para telas de celular */
	}
  
	.contact-text h2 {
	  font-size: 35px; /* Ajuste o tamanho de fonte para telas de celular */
	}
  
	.contact-text p {
	  font-size: 15px; /* Ajuste o tamanho de fonte para telas de celular */
	  margin-bottom: 1rem; /* Ajuste o espaçamento para telas de celular */
	}
  
	.contact-list li a {
	  font-size: 15px; /* Ajuste o tamanho de fonte para telas de celular */
	}
  }
.contact-icons i{
	height: 40px;
	width: 40px;
	background: #12141c;
	border-radius: 0.5rem;
	color: var(--main-color);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	margin-right: 10px;
	transition: all .40s ease;
}
.contact-icons i:hover{
	transform: scale(1.01) translateY(-5px);
	color: var(--text-color);
	background: var(--main-color);
}

.contact-form form {
	position: relative;
  }
  
  .contact-form form input,
  form textarea {
	border: none;
	outline: none;
	width: 100%;
	padding: 18px;
	background: #12141c;
	color: var(--text-color);
	font-size: 1rem;
	font-weight: 600;
	margin-bottom: 0.5rem;
	border-radius: 0.5rem;
  }
  
  .contact-form textarea {
	resize: none;
	height: 220px;
  }
  
  .contact-form form .send {
	display: inline-block;
	font-size: 17px;
	font-weight: 500;
	background: var(--main-color);
	color: var(--text-color);
	width: 190px;
	transition: all .40s ease;
	cursor: pointer;
  }
  
  /* Estilos para telas de celular */
  @media screen and (max-width: 767px) {
	.contact-form form input,
	.contact-form textarea {
	  font-size: 16px; /* Ajuste o tamanho de fonte para telas de celular */
	  padding: 14px; /* Ajuste o espaçamento para telas de celular */
	}
  
	.contact-form textarea {
	  height: 150px; /* Ajuste a altura para telas de celular */
	}
  
	.contact-form form .send {
	  font-size: 13px; /* Ajuste o tamanho de fonte para telas de celular */
	  width: 50%; /* Preencha a largura disponível para telas de celular */
	  margin-top: 10px; /* Adicione uma margem superior para espaçamento para telas de celular */
	}
  }

  .last-text p {
	text-align: center;
	padding: 15px;
	color: var(--second-color);
	font-size: 15px;
	font-weight: 600;
	letter-spacing: 1px;
  }
  
  .top {
	position: fixed;
	bottom: 2.1rem;
	right: 2.1rem;
  }
  
  .top i {
	color: var(--text-color);
	background: var(--main-color);
	font-size: 20px;
	padding: 10px;
	border-radius: 0.5rem;
  }
  
  /* Estilos para telas de celular */
  @media screen and (max-width: 767px) {
	.last-text p {
	  font-size: 12px; /* Ajuste o tamanho de fonte para telas de celular */
	  padding: 10px; /* Ajuste o espaçamento para telas de celular */
	}
  
	.top i {
	  font-size: 18px; /* Ajuste o tamanho de fonte para telas de celular */
	  padding: 10px; /* Ajuste o espaçamento para telas de celular */
	}
  }

@media (max-width: 1325px){
	header{
		padding: 16px 3%;
	}
	header.sticky{
		padding: 8px 3%;
	}
	section{
		padding: 130px 3% 60px;
	}
}

@media (max-width: 970px){
	:root{
		--h1-font: 4.2rem;
	  --h2-font: 2.9rem;
	  --p-font: 1rem;
	}
	section{
		padding: 70px 3% 60px;
	}
	.home{
		height: 85vh;
	}
	.about{
		grid-template-columns: 1fr;
	}
	.about-img{
		text-align: center;
	}
	.contact{
		grid-template-columns: 1fr;
	}
}

@media (max-width: 830px){
	#menu-icon{
		display: block;
	}
	.navbar{
		position: absolute;
		top: -600px;
		right: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		background: #020312;
		text-align: left;
		transition: all .40s ease;
	}
	.navbar a{
		display: block;
		padding: 1rem;
		margin: 1rem;
	}
	.navbar.active{
		top: 100%;
	}
	:root{
		--h1-font: 3.7rem;
	  --h2-font: 2.7rem;
	}
}

@media screen and (max-width: 767px) {
	.contact {
	  grid-template-columns: 1fr;
	}
  
	.contact-text {
	  text-align: center;
	}
  
	.contact-list {
	  text-align: center;
	}
  
	.contact-icons {
	  text-align: center;
	}
  
	.contact-form form {
	  text-align: center;
	}
  
	.last-text {
	  text-align:centro;
	}
  }
  
  @media screen and (max-width: 480px) {
	.contact {
	  gap: 1.5rem;
	}
  
	.contact-text h2 {
	  font-size: 32px;
	}
  
	.contact-text p {
	  font-size: 16px;
	  line-height: 26px;
	}
  
	.contact-list li a {
	  font-size: 14px;
	}
  
	.contact-form form input,
	.contact-form textarea {
	  padding: 14px;
	}
  
	.contact-form form .send {
	  width: 150px;
	}
  
	.last-text p {
	  font-size: 14px;
	}
  
	.top i {
		font-size: 20px;
		padding: 8px;
	  }
  }